.a1 {
  width: 150px;
  height: 150px;
  background: gray;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}
.a1:active {
  width: 150px;
  transform: translate(100px, 0) rotate(1080deg);
}

.a2 {
  width: 100px;
  height: 100px;
  background: blue;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(200px);
  animation: div 1s;
}

@keyframes div {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(200px, 0);
  }
}
